* {
  padding: 0;
  margin: 0;
}
/* Sets Font for Application */
.App {
  text-align: center;
  font-family: 'Anton', sans-serif;
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Designs header */
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.header {
  padding: 30px 0;
  color: #f7f2f2;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  padding: 20px 25px;
  margin: 0 auto;
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #A43931, #A43931); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-collapse {
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.data-area {
  margin: 0 auto;
  width: 65%;
}

.searchbox button {
  border: 1px solid #f4f5f8;
}

.searchbox button:hover {
  background-color: #f4f5f8;
  color: #ffffff;
}

.datatable .col {
  cursor: pointer;
}

.datatable .col .pointer:after {
  font-size: 70%;
  content: "";
  margin-right: 20px;
}

.datatable .col .pointer:hover:after {
  font-size: 80%;
  content: "🔻";
  margin-right: 0;
}